@model Deploy.ViewModel.TennantDeployParams

@{
    ViewData["Title"] = "IndexSelected";
}

<h2>Identity Parameters</h2>
<p>
    <a asp-action="Create" asp-route-id="@Model.DeployTypeID " class="btn btn-success btn-lg">Create New</a>
    <a asp-action="CreateRedirect" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-triangle-left"></span> Back</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Deploy Name
            </th>
            <th>
                Tenant ID
            </th>
            <th>
                Tennant Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TennantParams) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParameterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParameterType)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.DeployParamID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DeployParamID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DeployParamID">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>

