@model Deploy.ViewModel.TennantDeployParams

@{
    ViewData["Title"] = "Deployment";
}

<div id="deployexists" class="modal" tabindex="1" style="display:none;">
    <div class="modal-content">
        <div style="font-size:18px;">
            <i class="fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i><span style="font-size:32px"><b>  Warning</b></span>
            <p style="margin-top:15px">Please ensure you wish to re-deploy before proceeding.</p>
            <p>All components will be returned to their originally provisioned state. This can lead to lost of configurations and resources.</p>
            <button id="DeployExistsClose" class="btn btn-danger btn-lg" data-dismiss="modal" aria-label="Close">Close</button>
            <a id="ReDeploy" asp-action="QueueDeployment" asp-controller="TennantParams" asp-route-id="@Model.DeployTypeID" asp-route-force="True" class="btn btn-success btn-lg" data-dismiss="modal" aria-label="Redeploy">Redeploy</a>
        </div>
    </div>
</div>

<div id="templateinvalid" class="modal" tabindex="1" style="display:none;">
    <div class="modal-content">
        <div style="font-size:18px;">
            <i class="fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i><span style="font-size:32px"><b>  Warning</b></span>
            <p style="margin-top:15px">Template Invalid Error.</p>
            <p>The template validation has failed. There error returned is below.</p>
            <p>@ViewBag.TemplateError</p>
            <button id="TemplateInvalidClose" class="btn btn-danger btn-lg" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
    </div>
</div>

<h2>Deployment Parameters</h2>
<p>
    You are currently working in company: <span style="font-weight:bold;font-size:20px;">@Html.DisplayFor(Model => Model.TennantName)</span>
</p>
<p>
    <a asp-action="Edit" asp-route-id="@Model.DeployTypeID" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-wrench" ></span> Edit</a>
    <a asp-action="SaveToAzure"  asp-controller="TennantParams" asp-route-id="@Model.DeployTypeID" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-floppy-save"></span> Save</a>
    <a asp-action="IndexSelected" asp-controller="DeployTypes" asp-route-id="@Model.TennantID" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-triangle-left"></span> Back</a>
    @if (Model.DeploySaved == "Yes")
    {
        <a id="DeployToAzure" asp-action="QueueDeployment" asp-controller="TennantParams" asp-route-id="@Model.DeployTypeID" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-cloud-upload"></span> Deploy</a>
        <a id="GetDeploy" asp-action="GetDeploy" asp-route-id="@Model.DeployTypeID" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-check"></span> Check</a>

    }
</p>
<p>
    You are currently viewing deployment parameters for: <span style="font-weight:bold;font-size:20px;">@Html.DisplayFor(Model => Model.DeployName)</span>
</p>
<table class="table tablesorter-bootstrap">
    <thead>
        <tr>
                <th>
                    Parameter Name
                </th>
                <th>
                    Parameter Value
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (var i = 0; i < Model.DeployParams.Count(); i++) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.DeployParams[i].ParameterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.TennantParams[i].ParamValue)
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script language='javascript' type='text/javascript'>
    $(document).ready(function () {
        var dataexists = @ViewBag.DeployExists.ToString().ToLower();
        if (dataexists)
            $('#deployexists').fadeIn();

        var TemplateInvalid = @ViewBag.TemplateInvalid.ToString().ToLower();
        if (TemplateInvalid)
            $('#templateinvalid').fadeIn();

        var ua = navigator.userAgent.toLowerCase();
        var ios_devices = ua.match(/(ipad|iphone)/) ? "touchstart" : "click";
        $('#DeployExistsClose').bind(ios_devices, function () {
            $('#deployexists').fadeOut();
        });

        $('#TemplateInvalidClose').bind(ios_devices, function () {
            $('#templateinvalid').fadeOut();

        });

        $('#ReDeploy').bind(ios_devices, function () {
            $('#deployexists').fadeOut();
        })

    });
    </script>
}
